
<div class="row">
  <form class="col-md-6" ng-submit="$ctrl.save()">

    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" ng-model="$ctrl.classRoom.name" name="name" id="name">
    </div>

    <div class="form-group">
      <label for="description">Descripcion</label>
      <input type="text" class="form-control" ng-model="$ctrl.classRoom.description" name="description" id="description">
    </div>

    <div class="form-group">
      <label for="description">Fecha inicial</label>
      <p class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup ng-model="$ctrl.classRoom.startDate" is-open="$ctrl.calendars.startDate.isOpen" datepicker-options="$ctrl.calendarsOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="$ctrl.calendars.startDate.toggle()"><i class="fa fa-calendar"></i></button>
        </span>
      </p>
    </div>



    <div class="form-group">
      <label for="description">Fecha fin</label>
      <p class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup ng-model="$ctrl.classRoom.endDate" is-open="$ctrl.calendars.endDate.isOpen" datepicker-options="$ctrl.calendarsOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="$ctrl.calendars.endDate.toggle()"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>

    <div class="form-group">
      <label for="name">Archivo</label>
      <input type="file" nv-file-select uploader="$ctrl.uploader"/><br/>
      <ul>
        <li ng-repeat="item in $ctrl.uploader.queue">
          Name: <span ng-bind="item.file.name"></span><br/>
          <button ng-click="item.upload()">upload</button>
        </li>
      </ul>
    </div>
    <div class="form-group">
      <input type="submit" value="Enviar">
    </div>

  </form>
</div>
