
<div class="row">
  <form class="col-md-6">

    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" ng-model="$ctrl.classRoom.name" name="name" id="name">
    </div>

    <div class="form-group">
      <label for="description">Descripcion</label>
      <input type="text" class="form-control" ng-model="$ctrl.classRoom.description" name="description" id="description">
    </div>

    <div class="form-group">
      <label for="name">Archivo</label>
      <input type="file" nv-file-select uploader="$ctrl.uploader"/><br/>
      <ul>
        <li ng-repeat="item in $ctrl.uploader.queue">
          Name: <span ng-bind="item.file.name"></span><br/>
          <button ng-click="item.upload()">upload</button>
        </li>
      </ul>
    </div>
  </form>
</div>
