.row

  .col-md-2
    h3 Alumnos conectados

    ul.list-group
      li.list-group-item
        .row
          .col-md-2
            img.img-responsive.img-circle(src="http://www.clker.com/cliparts/A/Y/O/m/o/N/placeholder-hi.png")
          .col-md-10
            span Alumno
      li.list-group-item
        .row
          .col-md-2
            img.img-responsive.img-circle(src="http://www.clker.com/cliparts/A/Y/O/m/o/N/placeholder-hi.png")
          .col-md-10
            span Alumno
      li.list-group-item
        .row
          .col-md-2
            img.img-responsive.img-circle(src="http://www.clker.com/cliparts/A/Y/O/m/o/N/placeholder-hi.png")
          .col-md-10
            span Alumno
      li.list-group-item
        .row
          .col-md-2
            img.img-responsive.img-circle(src="http://www.clker.com/cliparts/A/Y/O/m/o/N/placeholder-hi.png")
          .col-md-10
            span Alumno
      li.list-group-item
        .row
          .col-md-2
            img.img-responsive.img-circle(src="http://www.clker.com/cliparts/A/Y/O/m/o/N/placeholder-hi.png")
          .col-md-10
            span Alumno
      li.list-group-item
        .row
          .col-md-2
            img.img-responsive.img-circle(src="http://www.clker.com/cliparts/A/Y/O/m/o/N/placeholder-hi.png")
          .col-md-10
            span Alumno

  .col-md-8
    .row
      .col-md-10.col-md-offset-1
        pdf-viewer(delegate-handle="pdf-teacher" url="$ctrl.pdf.url" scale="1" show-toolbar="{{$ctrl.pdf.showToolbar}}")

  .col-md-2
    h3 Mensajes Enviados
    ul.list-group
      li.list-group-item(ng-repeat='message in $ctrl.messages')
        span
          b {{message.name}}:
        span {{message.message}}






